.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.input-search {
    width: 400px;
    height: 40px;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 15px black,
        -3px -3px 15px black;
}

@media screen and (max-width: 391px) {
    
    .input-search {
        width: 300px;
    }
}